<header class="top-header">
  <div class="container">
    <div class="row header-section">
            <div class="col-12">
                  <div class="logo-block">
                     <img src="assets/logo.png" alt="Quiz" height="40">
                  </div>  <!-- End Logo Block -->
            </div>  <!-- End md 2 -->
      </div>    <!-- End row -->
  </div>    <!-- End container -->
</header>


<div class="container mh">



  
    <div class="component-div h70">
      <div style="margin-top: 40px;">
        <div class="card">
          <div class="card-body ">
                <div class="form-group">
                 <h6> User Info :: </h6>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control form-control-sm" placeholder="Username">
                </div>  <!-- End form-group -->

                <div class="form-group">
                  <input type="text" class="form-control form-control-sm" placeholder="Email Address">
                </div>  <!-- End form-group -->
          </div>  <!-- End card body -->
        </div> <!-- End card -->


        <div class="card">

            <div class="card-body">
                <div>
                  What is color of orange?
                </div>
                <input type="radio" id="red" name="color" value="male">
                <label for="red">Red</label><br>
                <input type="radio" id="green" name="color" value="female">
                <label for="green">Green</label><br>
                <input type="radio" id="orange" name="color" value="other">
                <label for="orange">Orange</label>
            </div> <!-- End card body -->
        </div>  <!-- End card -->
      </div>  <!-- End -->
    </div>  <!-- End component-div -->
</div> <!--  End container -->  


<footer>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
        &copy; 2020. All rights reserved.
    </div> <!-- End col sm --> 
  </div> <!-- End row -->
</div> <!--  End container --> 
</footer> 